td.details-control-symbol {
    position: relative;
    cursor: pointer;
}
td.details-control-symbol::before{
    position: relative;
    font-family: "FontAwesome";
    font-weight: 900;
    content: "\f067";
}

tr.shown td.details-control-symbol::before{
    position: relative;
    color: red;
    font-family: "FontAwesome";
    font-weight: 900;
    content: "\f068"
}

.sticky {
    position: sticky;
    top:5px;
    background-color: white;
    z-index: 1;
  }

.sticky-top{
    background-color: white;
}



